{% extends 'base.html' %}
{% block content %}
<title>Adventure</title>
<br>
<h2 class="pb-4">Adventure</h2>
<div class="row">
{% for adv in movie_adv %}
<div class="col" style="width:150px">
                <div class="card h-50" style="width: 10rem ;">
                    <img src="{{ adv.image_url }}" class="card-img-top" alt="image"  >
                <div class=" row card-body">
                <h5 class="text-truncate text-success">{{adv.title}}</h5>
                <p class="col-sm" style="font-size:15px; ">{{adv.release_year}}  </p>
                     <p class="col-sm text-danger" style="font-size:14px">₹{{adv.movie_rate}}</p>
  </div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}