{% load staticfiles %}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link  href="{% static '/css/text_style.css' %}" rel="stylesheet">

<div class="row">
  <div class="col-75">
    <div class="container">
      <form method="POST">
        {% csrf_token %}
        <div class="row">
          <div class="col-50">
            <h2>payment  Checkout </h2>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" class="form-control" id="fname" name="costumer_name" placeholder="Aarusanna">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" class="form-control" id="email" name="email" placeholder="john@gmail.com">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" class="form-control"  id="adr" name="address" placeholder="542 lawyers colony near water tank ">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Agra">
            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text"class="form-control" id="state" name="state" placeholder="Utter pradesh">
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" class="form-control" id="zip" name="zip_code" placeholder="12330">
              </div>
            </div>
          </div>
          <div class="col-50">
            <h3>Payment</h3>
            <label for="fname">Accepted Cards</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-amex" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-cc-discover" style="color:orange;"></i>
            </div>
            <label for="cname">Name on Card</label>
            <input type="text" class="form-control" id="cname" name="card_holder" placeholder="Sanna">
            <label for="ccnum">Credit card number</label>
            <input type="text" class="form-control" id="ccnum" name="card_number" placeholder="1111-2222-3333-4444">
            <label for="expmonth">Exp Month</label>
            <input type="text" class="form-control" id="expmonth" name="Exp_month" placeholder="december">
            <div class="row">
              <div class="col-50">
                <label for="expyear">Exp Year</label>
                <input type="text" class="form-control" id="expyear" name="Exp_year" placeholder="2021">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="text" class="form-control" id="cvv" name="CVV" placeholder="343">
              </div>
              <label for="cname">Amount</label>
            <input type="text" class="form-control" id="cname" name="cash" placeholder="₹10">
            </div>
          </div>
        </div>
        <label>
          <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
        </label>
        <button type="submit" class="btn btn-primary">CheckOut</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}